<div class="row">
  <% fragments.forEach((fragment) => { %>
  <%
     var monthNames = [
          "Janeiro", "Fevereiro", "Março",
          "Abril", "Maio", "Junho", "Julho",
          "Agosto", "Setembro", "Outubro",
          "Novembro", "Dezembro"
       ];
     var d = fragment.createdat.getDate();
     var m = monthNames[fragment.createdat.getMonth()];
     var y = fragment.createdat.getFullYear();
   %>
    <div class="col-md-12">
        <div class="list-group">
            <a href="/story/<%=fragment.story_id%>#<%=fragment._id%>" class="list-group-item no-outline">
              <h4 class="list-group-item-heading"><%- fragment.data %></h4>
              <p>
                <small><small>Adicionado em: </small> <%= d+ ' de '  +m+ ' de ' +y %></small>
                <small>por</small> 
                <object>
                <a href="/profile/<%=fragment.author._id%>"><%= fragment.author.local.username %></a>
              </object>
              </p>
            </a>
        </div>
    </div>
    <% }) %>
</div>