<div id="fragmentos" class = "panel panel-default">
  <div class = "w-100 p-3">
    <input class="search form-control" placeholder="Digite um pedaço do fragmento..." />
  </div>
  <div class="list container-fluid">
    <% story.fragments.forEach((fragment) => { 
      var monthNames = [
           "Janeiro", "Fevereiro", "Março",
           "Abril", "Maio", "Junho", "Julho",
           "Agosto", "Setembro", "Outubro",
           "Novembro", "Dezembro"
        ];
      var d = fragment.createdat.getDate();
      var m = monthNames[fragment.createdat.getMonth()];
      var y = fragment.createdat.getFullYear();
      var modd = fragment.modifieddat.getDate();
      var modm = monthNames[fragment.modifieddat.getMonth()];
      var mody = fragment.modifieddat.getFullYear();
    %>
      <div class="row fragment">
        <div class="col-sm-10 col-xs-10">
          <div class="panel-body">
            <a href="/story/<%=story._id%>#<%=fragment._id%>"></a>
            <p class="name"><%- fragment.data %></p>
            <p>
              <small><small>Adicionado em: </small> <%= d+ ' de '  +m+ ' de ' +y %></small>
              <small>por</small> 
              <object>
                <a href="/profile/<%=fragment.author._id%>"><%= fragment.author.local.username %></a>
              </object>
            </p>
            <p>
              <small><small>Modificado da última vez em: </small> <%= modd+ ' de '  +modm+ ' de ' +mody %></small>
            </p>
          </div>
          <!-- FUNCIONALIDADE APENAS VISIVEL A ALGUNS USERS --> 
        </div>
        <% if (loggedUser) {%>

        <div class="col-sm-2 col-xs-2">
          <div class="pull-right">
            <div class="panel-body">
              <input id="url" name="url" type="hidden" value="/story/<%=story._id%>/upvote">
              <a id='upvote<%=fragment._id%>'>
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
              </a>
              <h4 id="<%=fragment._id%>">0</h4>
              <a id='downvote<%=fragment._id%>'>
                <i class="fa fa-thumbs-down" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <script type="text/javascript">
            function updatevotes(){
              $.ajax({
                 method: "GET",
                 url: $("#url").val()
              })
               .done(function( data ) {
                  console.log(data);
                  var arr = data.votes;
                  var gp = arr.reduce(function (r, o) {
                      (r[o.fragment])? r[o.fragment] += o.vote : r[o.fragment] = o.vote;
                      return r;
                  }, {});
                  jQuery.each(gp, function(i, val) {
                    $("#" + i).html(document.createTextNode(val));
                  });
                  console.log(gp);
              });
            }
            function vote(type, vote){
              $('#'+type+'<%=fragment._id%>').click(function() {
                  $.ajax({
                      global: false,
                      type: 'POST',
                      url: $("#url").val(),
                      dataType: 'html',
                      data: {
                          fragment: '<%=fragment._id%>',
                          user: '<%=loggedUser._id%>',
                          vote: vote
                      },
                      success: function (result) {
                          console.log(result);
                      },
                      error: function (request, status, error) {
                          serviceError();
                      }
                  });
                  updatevotes();
              });
            }
            vote('upvote', 1);
            vote('downvote', -1);
            updatevotes();
        </script>
        <%}%>
      </div>
    <%})%>
  </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script type="text/javascript">
  var options = {
    valueNames: [ 'name', 'born' ]
  };

  var userList = new List('fragmentos', options);
</script>