<!-- views/dashboard -->

<%- include('partials/head') %>

<%- include('partials/header') %>

<div class="container">

  <%- include('partials/editstory') %>

    <div class = "container-fluid">
        <ul class="nav nav-tabs">
            <li><a class="nav-link" href="/story/<%= story._id %>">Fragmentos</a></li>
            <li><a class="nav-link" href="/story/<%= story._id %>/compiledStory">Compilar Fragmentos</a></li>
            <li class="active"><a class="nav-link active" href="/story/<%= story._id %>/dashboard">Dashboard</a></li>
        </ul>

      <%- include('partials/editfragment') %>

      <% if (loggedUser._id.toString() == story.author._id.toString()) {%>
      <div class = "container-fluid well">
        <div class="btn-group pull-right">
          <form id="edit-fragment" method="post">
            <input id="fragmentsId" type="hidden" name="fragmentsId" value=""/>
            <input id="fragmentsData" type="hidden" name="fragmentsData" value=""/>
            <button type="submit" id='merge' formaction="/story/<%= story._id %>/dashboard/mergeFragments/" class = 'btn btn-info' data-toggle="tooltip" title="Unir fragmentos">
              <i class="fa fa-compress" aria-hidden="true"></i>
            </button>
          </form>
        </div>
      </div>
      <% } %>

      <% if (!story.is_closed) { %>
        <a href="#editor"></a>
      	<div class="row">
      	  <div class="col-sm-11 col-xs-11 add-fragment"> 
      	    <div id="form-container">
      	      <form id="fragment-editor" name="q-editor" action="/story/<%= story._id %>/updateFragment/" method="post">
      	        <div class="row form-group">
      	          <input name="data" type="hidden">
      	          <div id="editor"></div>
      	        </div>
      	        <button type="submit" class="btn btn-info btn-sm pull-right">Salvar Mudanças</button>
      	      </form>
      	    </div>
      	    <script src="../../editor.js"></script>
      	  </div>
      	</div>
      <%} %>

    </div>
</div>

<%- include('partials/footer') %>