<!-- views/story.ejs -->

<%- include('partials/head') %>

<div class="container-fluid">
    <%- include('partials/header') %>

    <h2><%= story.title %></h2>
    <p><em>"<%= story.synopsis %>"</em></p>
    <p>história criada por 
      <a href="/profile/<%=story.author._id%>"><%= story.author.local.username %></a>
    </p>

    <ul class="nav nav-tabs">
        <li class="active"><a class="nav-link active" href="#">Fragmentos</a></li>
        <li><a class="nav-link" href="/story/<%= story._id %>/compiledStory">Compilar Fragmentos</a></li>
        <li><a class="nav-link" href="/story/<%= story._id %>/dashboard">Dashboard</a></li>
    </ul>

    <%- include('partials/list') %>


        <div class="row">
          <div class="col-sm-11 col-xs-11 add-fragment"> 
          <% if (loggedUser) { 
               if (story.is_closed) { 
          %>
            <div class="alert alert-danger">
              <p>A história foi fechada para edição pelo mediador.</p>
            </div>
          <% }else {%>
            <div id="form-container">
              <form name="q-editor" action="/story/<%= story._id %>/addFragment" method="post">
                <div class="row form-group">
                  <input name="data" type="hidden">
                  <div id="editor"></div>
                </div>
                <button type="submit" class="btn btn-info btn-sm pull-right">Adicionar Fragmento</button>
              </form>
            </div>
            <script src="../../editor.js"></script>
          <%} 
          }%>
          </div>
        </div>

    </div>
</div>

<%- include('partials/footer') %>