<!-- views/compiledstory.ejs -->

<%- include('partials/head') %>

<div class="container">
    <%- include('partials/header') %>

    <div>
        <h2><%= story.title %></h2>
        <p><em>"<%= story.synopsis %>"</em></p>
        <p>história criada por <a href="#"><%= story.author.local.username %></a></p>

        <div class="compile-fragments">
          <form action="/story/<%= id %>/" method="get">
              <button type="submit" class="btn btn-success btn-sm">Voltar</button>
          </form>
        </div>
        
        <div class="row">
            <div class="col-md-12">
              <p><%- full_story %></p>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>