<!-- views/index.ejs -->

<%- include('partials/head') %>

<div class="container">
    <%- include('partials/header') %>
    
    <div class="jumbotron">
        <h1>Histórias</h1>
        <p class="lead">Veja nossas histórias sendo criadas!</p>
    </div>

    <div class="row">
      <% stories.forEach((story) => { %>
        <div class="col-lg-3">
          <a href="/story/<%= story.id %>" class="list-group-item justify-content-between">
            <span class="badge badge-default badge-pill"><%= story.fragments.length %></span>
            <h4 class="list-group-item-heading"><%= story.title %></h4>
            <p class="list-group-item-text"><%= story.author.local.username %></p>
            <p class="list-group-item-text"><em><%= story.synopsis %></em></p>
            <p class="list-group-item-text"><%= story.genre %></p>
            <p class="list-group-item-text"><%= story.createdat %></p>
          </a>
        </div>
      <% }) %>
    </div>

    <% if (pages > 0) { %>
      <ul class="pagination text-center">
          <% if (current == 1) { %>
              <li class="disabled"><a>First</a></li>
          <% } else { %>
              <li><a href="/1">First</a></li>
          <% } %>
          <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
          <% if (i !== 1) { %>
              <li class="disabled"><a>...</a></li>
          <% } %>
          <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
              <% if (i == current) { %>
                  <li class="active"><a><%= i %></a></li>
              <% } else { %>
                  <li><a href="/<%= i %>"><%= i %></a></li>
              <% } %>
              <% if (i == Number(current) + 4 && i < pages) { %>
                  <li class="disabled"><a>...</a></li>
              <% } %>
          <% } %>
          <% if (current == pages) { %>
              <li class="disabled"><a>Last</a></li>
          <% } else { %>
              <li><a href="/<%= pages %>">Last</a></li>
          <% } %>
      </ul>
  <% } %>

</div>

<%- include('partials/footer') %>
