<!-- views/story.ejs -->

<%- include('partials/head') %>

<div class="container">
    <%- include('partials/header') %>

    <div>
        <h2><%= title %></h2>
        <p><em>"<%= synopsis %>"</em></p>
        <p>história criada por <a href="#"><%= author.local.username %></a></p>

        <div class="row">
            <div class="col-md-12">
                <div class="list-group">
                  <% fragments.forEach((fragment) => { %>
                    <a href="#" class="list-group-item">
                      <h4 class="list-group-item-heading"><%= fragment.data %></h4>
                      <p class="list-group-item-text"><%= fragment.author.local.username %></p>
                      <p class="list-group-item-text"><%= fragment.modifiedat %></p>
                      <p class="list-group-item-text"><%= fragment.createdat %></p>
                    </a>
                  <% }) %>
                </div>
            </div>
        </div>

        <% if (loggedUser) {%>
          <div class="fragment">
            <form action="/story/<%= id %>/addFragment" method="post">
                <div class="form-group">
                    <textarea class="form-control" name="data">Conte sua história...</textarea> 
                </div>
                <button type="submit" class="btn btn-info btn-sm">Adicionar Fragmento</button>
            </form>
          </div>
        <%}%>
    </div>
</div>

<%- include('partials/footer') %>