<!-- views/story.ejs -->

<%- include('partials/head') %>

<div class="container">
    <%- include('partials/header') %>

    <div>
        <h2><%= title %></h2>
        <p><em>"<%= synopsis %>"</em></p>
        <p>história criada por 
          <a href="/profile/<%=author._id%>"><%= author.local.username %></a>
        </p>

        <ul class="nav nav-tabs">
            <li class="active"><a class="nav-link active" href="/story/<%= id %>">Fragmentos</a></li>
            <li><a class="nav-link" href="/story/<%= id %>/compiledStory">Compilar Fragmentos</a></li>
        </ul>
        
          <div class="container-fluid panel panel-default">
            <% fragments.forEach((fragment) => { %>
            <div class="row fragment">
              <a href="/story/<%=id%>#<%=fragment._id%>"></a>
              <div class="col-sm-10 col-xs-10">  
                  <div class="">
                    <div class="panel-body">
                      <em><%- fragment.data %></em><br>
                      <object>
                        <a href="/profile/<%=fragment.author._id%>"><%= fragment.author.local.username %></a>
                      </object>
                      <p><small class="text-muted"><%= fragment.createdat %></small></p>
                    </div>
                  </div>        
              </div><!--/col-->
              
              <% if (loggedUser) {%>

              <div class="col-sm-2 col-xs-2">
                <div class="pull-right">
                  <div class="panel-body">
                    <input id="url" name="url" type="hidden" value="/story/<%=id%>/upvote">
                    <a id='upvote<%=fragment._id%>'>
                      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    </a>
                    <h4 id="<%=fragment._id%>">0</h4>
                    <a id='downvote<%=fragment._id%>'>
                      <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
                <script type="text/javascript">
                  function updatevotes(){
                    $.ajax({
                       method: "GET",
                       url: $("#url").val()
                    })
                     .done(function( data ) {
                        console.log(data);
                        var arr = data.votes;
                        var gp = arr.reduce(function (r, o) {
                            (r[o.fragment])? r[o.fragment] += o.vote : r[o.fragment] = o.vote;
                            return r;
                        }, {});
                        jQuery.each(gp, function(i, val) {
                          $("#" + i).html(document.createTextNode(val));
                        });
                        console.log(gp);
                    });
                  }
                  function vote(type, vote){
                    $('#'+type+'<%=fragment._id%>').click(function() {
                        $.ajax({
                            global: false,
                            type: 'POST',
                            url: $("#url").val(),
                            dataType: 'html',
                            data: {
                                fragment: '<%=fragment._id%>',
                                user: '<%=loggedUser._id%>',
                                vote: vote
                            },
                            success: function (result) {
                                console.log(result);
                            },
                            error: function (request, status, error) {
                                serviceError();
                            }
                        });
                        updatevotes();
                    });
                  }
                  vote('upvote', 1);
                  vote('downvote', -1);
                  updatevotes();
                </script>
              <%}%>
            </div>
            <hr>
            <% }) %>
        </div>

        </div>

        <div class="row">
          <div class="col-sm-11 col-xs-11"> 
          <% if (loggedUser) { %>
            <div id="form-container">
              <form name="q-editor" action="/story/<%= id %>/addFragment" method="post">
                <div class="row form-group">
                  <input name="data" type="hidden">
                  <div id="editor"></div>
                </div>
                <button type="submit" class="btn btn-info btn-sm pull-right">Adicionar Fragmento</button>
              </form>
            </div>
            <script src="../../editor.js"></script>
          <%}%>
          </div>
        </div>

    </div>
</div>

<%- include('partials/footer') %>