<!-- views/story.ejs -->

<%- include('partials/head') %>

<div class="container">
    <%- include('partials/header') %>

    <div>
        <h2><%= title %></h2>
        <p><em>"<%= synopsis %>"</em></p>
        <p>história criada por 
          <a href="/profile/<%=author._id%>"><%= author.local.username %></a>
        </p>

        <div class="compile-fragments">
          <form action="/story/<%= id %>/compiledStory" method="post">
              <button type="submit" class="btn btn-success btn-sm">Compilar Fragmentos</button>
          </form>
        </div>

        <%- include('partials/fragments') %>

        <% if (loggedUser) {%>
          <div id="form-container">
            <form name="q-editor" action="/story/<%= id %>/addFragment" method="post">
              <div class="row form-group">
                <input name="data" type="hidden">
                <div id="editor"></div>
              </div>
              <button type="submit" class="btn btn-info btn-sm">Adicionar Fragmento</button>
            </form>
          </div>
          <script src="../../editor.js"></script>
        <%}%>
    </div>
</div>

<%- include('partials/footer') %>