<div class = "row">
<% stories.forEach((story) => { %>
  <div class="col-md-4 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="/story/<%= story.id %>" class="pull-right">Ler História (<%= story.fragments.length%>)</a> 
          <h4 class="title"><%= story.title %></h4>
        </div>
        <div class="panel-body">
          <p class = "synopsis"><small>Sinopse: </small><%= story.synopsis %></p>
          <p class = "genre"><small>Genero: </small><%= story.genre %></p>
          <p><small>Criado por: </small><a href="#"><%= story.author.local.username %></a></p>
          <hr>
          <small><%= story.createdat %></small>
        </div>
      </div> 
  </div>
<% }) %>
</div>